<div class="row " itemscope itemtype="http://schema.org/Product" id="deal-top">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <!-- ---------------------------------- -->
        <carousel>
            <slide *ngFor="let image of dealData.images_list">
               <!-- <div>sdsd
                    <img src="{{image.medium}}" alt="..."></div>-->
                <div class="deal_img" [style.background]="'url(' + image.medium + ')'"></div>

            </slide>
        </carousel>
        <!-- ---------------------------------- -->
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 deal_page">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center">
                <span itemprop="name" class="item_title"><h1>{{dealData.title}}</h1></span>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
                itemprop="description"
                [innerHTML]="dealData.alt_description">

            </div>

        </div>

        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

                <button type="button"
                        class="btn btn-primary btn-lg btn-block"
                        (click)="add_to_cart(dealData.id, dealData.price, dealData.title, dealData.images_list[0].thumb)"
                >
                    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                    Купить
                </button>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

                <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                    <p class="deal_price">{{dealData.price}} р.</p>
                    <meta itemprop="price" content="<%= @deal.price.ceil %>">
                    <meta itemprop="priceCurrency" content="RUB">
                    <link itemprop="availability" href="http://schema.org/InStock">
                </span>

            </div>
        </div>
<!--        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                {{dealData.short_descr}}
            </div>
        </div>-->

    </div>

</div>
<div class="row">
    <div
        class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
        itemprop="description"
        [innerHTML]="dealData.description"></div>

</div>
<hr>
<h2>Вам также могут понравиться:</h2>
<smallcard [data]="deal" *ngFor="let deal of  (dealsList.deal_list ? dealsList.deal_list.slice(0,8): [])"></smallcard>
