.cart-item-component
  height: 120px
  background-color: #ffffff
  border-bottom-style: solid
  border-bottom-width: 1px
  border-bottom-color: #222222
  .cart-item-image
    width: 80px
  .cart-item-desc
    padding: 8px
    align-items: center
  .cart-item-delete-button
    text-align: center
    cursor: pointer
  .cart-item-delete-button:hover
    background-color: rgba(51, 51, 51, .3)
