<h3>Заказ № {{orderStoreService.code}}</h3>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <table class="table table-striped">
            <tbody>
            <tr>
                <!--<th>Арт.</th>-->
                <th>Наименование</th>
                <th>Количество</th>
                <th>Стоимость</th>
            </tr>

            <tr *ngFor="let item of orderStoreService.list">

                <!--<td>{{item.art}}</td>-->
                <td>{{item.title}}</td>
                <td>{{item.amount}}</td>
                <td>{{item.price}}</td>

            </tr>
            </tbody>
        </table>
    </div>

</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3>Итого {{orderStoreService.summ}} руб</h3><br>
        <b>Получатель </b>{{orderStoreService.customer_name}}<br>
        <b>Контактный телефон: </b>{{orderStoreService.customer_phone}}<br>
        <b>Адрес доставки: </b>{{orderStoreService.delivery_adress}}<br>
        <b>Коментарий: </b>{{orderStoreService.comment}}<br>
    </div>


</div>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3">
        <a routerLink="/" class="btn btn-default btn-lg active btn-block" role="button">
            Вернуться к списку товаров
        </a>
    </div>
</div>


