<a
    class="cartbutton"
    routerLink="/cart"
    title="Корзина">
        <span class="">
            <span
                class="glyphicon glyphicon-shopping-cart cartbutton"
                aria-hidden="true"
                style="color: #777;">

            </span>
            <span class="badge cartbutton">
                {{cartData.l.length}}
            </span>
            <span
                class="cart_nav">
                {{cartData.s}} р.
            </span>
        </span>
</a>
