<h3>Корзина</h3>

<div class="row" *ngFor="let item of cartData.l; let i = index;">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 vertical_inner">
        <img src="{{item.i}}" style="width: 100%">

    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 vertical_inner"><b>{{item.t}} ({{item.c}} руб)</b></div>

    <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2 vertical_inner">
        <form class="form-inline">
            <div class="form-group" style="margin-bottom: 0px;">
                <div class="input-group" style=" margin-bottom: 0px;">
                    <div class="input-group-addon hand_on_hover" (click)="incrementNumber(item.id, -1)">
                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                    </div>

             <!--       <input type="text"
                           class="form-control wide_form"
                           [value]="item.a"
                           (keyup)="number_change(item.id, item.a)"

                           style="text-align: center">-->

                    <input type="text"
                           class="form-control wide_form"
                           [value]="cartData.l[i].a"
                            disabled
                           style="text-align: center">

                    <div class="input-group-addon hand_on_hover" (click)="incrementNumber(item.id, 1)">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 vertical_inner"><b>{{item.c* item.a}} руб</b></div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 vertical_inner" style="text-align: right">
        <span class="glyphicon glyphicon-remove hand_on_hover" aria-hidden="true" title="Удалить товар из корзины"
              (click)="delete_item(item.id)"></span>
    </div>
</div>

<div class="row wide_form" ng-if="!create_order_dialog">
    <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3" style="text-align: left;"><h3>Итого:</h3></div>
    <div class="col-sm-9 col-md-9 col-lg-9 col-xs-9" style="text-align: right;"><h3>{{cartData.s}} руб.</h3>
    </div>
</div>


<div class="row wide_form">
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
        <span ng-if="!create_order_dialog">
            <button type="button" class="btn btn-primary btn-block" ng-click="open_create_order_dialog()"
                    ng-disabled="cart.cart_list.s==0">Оформить
                заказ
            </button>
        </span>
        <span ng-if="create_order_dialog">
            <button type="button" class="btn btn-primary btn-block" ng-click="create_order()"
                    ng-disabled="disable_create_order_button" ng-if="!checkout_start">Оформить
                заказ
            </button>
            <button type="button" class="btn btn-primary btn-block" disabled ng-if="checkout_start">
                <i class="fa fa-spinner fa-spin fa-1x fa-fw"></i></button>

        </span>

    </div>

    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 col-sm-offset-6 col-md-offset-6 col-lg-offset-8">
        <button type="button" class="btn btn-default btn-block" ng-click="hide_cart_modal()">Продолжить выбор
        </button>
    </div>

</div>
