<h3>Корзина</h3>

<div class="row" *ngFor="let item of cartData.l; let i = index;">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 vertical_inner">
        <img src="{{item.i}}" style="width: 100%">

    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 vertical_inner"><b>{{item.t}} ({{item.c}} руб)</b></div>

    <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2 vertical_inner">
        <form class="form-inline">
            <div class="form-group" style="margin-bottom: 0px;">
                <div class="input-group" style=" margin-bottom: 0px;">
                    <div class="input-group-addon hand_on_hover" (click)="incrementNumber(item.id, -1)">
                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                    </div>
                    <input type="text"
                           class="form-control wide_form"
                           [value]="cartData.l[i].a"
                           disabled
                           style="text-align: center">

                    <div class="input-group-addon hand_on_hover" (click)="incrementNumber(item.id, 1)">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 vertical_inner"><b>{{item.c* item.a}} руб</b></div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 vertical_inner" style="text-align: right">
        <span class="glyphicon glyphicon-remove hand_on_hover" aria-hidden="true" title="Удалить товар из корзины"
              (click)="delete_item(item.id)"></span>
    </div>
</div>

<div class="row wide_form" ng-if="!create_order_dialog">
    <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3 col-md-offset-3 col-lg-offset-3" style="text-align: right;">
        <h3>Итого:</h3>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6" style="text-align: left;">
        <h3>{{cartData.s}} руб.</h3>
    </div>
</div>

<div class="row" *ngIf="showOrderForm">
    <form ngNoForm>
        <div class="row wide_form">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">

                <div class="form-group">
                    <label for="customer_name">Имя/Отчество <span class="help-inline"
                                                                  style="color: red">*</span></label>
                    <input type="text"
                           class="form-control"
                           id="customer_name"
                           placeholder="Имя/Отчество"
                           [(ngModel)]="orderForm.customer_name"
                           (ngModelChange)="update_values()">
                </div>

                <div class="form-group">
                    <label for="customer_phone">Контактный телефон<span class="help-inline" style="color: red">*</span></label>
                    <input type="tel"
                           class="form-control"
                           id="customer_phone"
                           placeholder="Телефон"
                           [(ngModel)]="orderForm.customer_phone"
                           (ngModelChange)="update_values()">
                </div>

                <div class="form-group">
                    <label for="delivery_adress">Адрес доставки</label>
                    <input type="text"
                           class="form-control"
                           id="delivery_adress"
                           placeholder="Адрес доставки"
                           [(ngModel)]="orderForm.delivery_adress"
                           (ngModelChange)="update_values()">
                </div>
                <div class="form-group">
                    <label for="comment">Комментарии к заказу</label>
                    <input type="text"
                           class="form-control"
                           id="comment"
                           placeholder="Комментарии к заказу"
                           [(ngModel)]="orderForm.comment"
                           (ngModelChange)="update_values()">
                </div>
            </div>
        </div>
    </form>
</div>

<div class="row wide_form">
    <div class="col-xs-12 col-sm-3 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">
        <span *ngIf="!showOrderForm">
            <button
                type="button"
                class="btn btn-primary btn-block"
                (click)="open_create_order_dialog()"
                [disabled]="cartData.s<=0">
                Оформить заказ
            </button>
        </span>

        <span *ngIf="showOrderForm">
            <button
                type="button"
                class="btn btn-primary btn-block"
                (click)="create_order()"
                [disabled]="!orderForm.formValid">
                Оформить заказ
            </button>
        </span>
    </div>
</div>
