<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" routerLink="/">Project name</a>
            <p style="margin-top: 15px;" class="hidden-lg hidden-md">
                <cartbutton ></cartbutton>
            </p>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li *ngFor="let category of data.categories">
                    <a routerLink="/category/{{category.id}}">{{category.name}}</a>
                </li>
                <li class="hidden-xs hidden-sm">
                    <p class="navbar-text navbar-right">
                        <cartbutton></cartbutton>
                    </p>
                </li>

            </ul>
        </div>
    </div>
</nav>
