.progress_bar {
    text-align: center
}

.product_caption {
    color: #333;
    height: 50px;
}

.product_thumb {
    /*height: 480px;*/
    padding-bottom: 30px;
    margin-bottom: -20px;
}

.product_cell {
    margin-bottom: 40px;
    /*  border-bottom: solid;
      border-bottom-color: #333333;
      border-bottom-width: 1px;*/
}

.thumb_img {
    /*width: 100%;*/
    height: 300px;

    background-repeat: no-repeat !important;
    background-position: 50% 0% !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -ms-background-size: cover;
}

.wide_form {
    margin-left: 0px;
    margin-right: 0px;
}

.hand_on_hover:hover {
    cursor: pointer;
}

.add_to_cart_from_main:hover {
    cursor: pointer;
    color: lightgreen;
}

.deal_price {
    text-align: center;
    font-size: 40px;
    color: #000;
    margin-top: -6px;
}

@media screen and (max-width: 767px) {
    .container {
        padding-left: 0px !important;
        padding-left: 0px !important;
    }

    .product_cell {
        padding-left: 0px;
        padding-right: 0px;
    }

    .deal_page{
        margin-left: 3px;
    }
}
