<div fxLayout="row" fxLayout.xs="column">
  <div fxFlex="50%" fxflex.xs="100%">
    <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
  </div>
  <div fxFlex="50%" fxflex.xs="100%">
    <h1>{{page.title}}</h1>
    <p [innerHTML]="page.description"></p>
    <span itemprop="name" class="item_title">
      <h1>{{page.title}}</h1>
    </span>
    <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    <h2>Цена: {{page.price}} руб.</h2>
    <meta itemprop="price" content="<%= @deal.price.ceil %>">
    <meta itemprop="priceCurrency" content="RUB">
    <link itemprop="availability" href="http://schema.org/InStock">
    </span>

    <button type="button"
            class="btn btn-primary btn-lg btn-block"
            (click)="add_to_cart(page.id, page.price, page.title, page.images_list[0].thumb)"
    >
      <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
      Купить
    </button>

  </div>
</div>
