<div class="topnav" fxLayout="column" fxLayoutAlign="center">
  <div fxFlex="16px">
    <div class="mkt-container" fxLayout="row nowrap">
      <div fxFlex="20%" class="nav_left_item">Главная</div>
      <div fxFlex="20%" class="nav_item">Магазин</div>
      <div fxFlex="20%" class="nav_item">Доставка и оплата</div>
      <div fxFlex="20%" class="nav_item">О нас</div>
      <div fxFlex="20%" class="nav_right_item">Контакты</div>
    </div>
   <!-- <div fxLayout="row nowrap" fxLayoutAlign="space-between" class="mkt-container">
      <div fxFlex="auto" class="nav_left_item">Главная</div>
      <div fxFlex="auto">Магазин</div>
      <div fxFlex="auto">Доставка и оплата</div>
      <div fxFlex="auto">О нас</div>
      <div fxFlex="auto" class="nav_right_item">Контакты</div>
    </div>-->
  </div>
</div>

