<!--<div class="topnav" fxLayout="column" fxLayoutAlign="center">
  <div fxFlex="16px">
    <div fxLayout="row nowrap" fxLayoutAlign="space-between" class="mkt-container">
      <div fxFlex="auto" class="nav_left_item"><a routerLink="/">Главная</a> </div>
      <div fxFlex="auto">Магазин</div>
      <div fxFlex="auto">Доставка и оплата</div>
      <div fxFlex="auto">О нас</div>
      <div fxFlex="auto">Контакты</div>
      <div fxFlex="auto" class="nav_right_item">
        <app-cart-widget></app-cart-widget>
      </div>
    </div>
  </div>
</div>-->

<div class="topnav" fxLayout="column" fxLayoutAlign="center">
  <div fxFlex="16px">
    <div fxLayout="row nowrap" fxLayoutAlign="space-between" class="mkt-container">
      <div fxFlex="auto" class="nav_left_item"><a routerLink="/">Главная</a></div>
      <div fxFlex="auto" *ngFor="let item of categories">
        <a routerLink="/home/category/{{item.id}}">{{item.name}}</a>
      </div>

      <div fxFlex="auto" class="nav_right_item">
        <app-cart-widget></app-cart-widget>
      </div>
    </div>
  </div>
</div>
