.cart-item-mobile-component
  background-color: #ffffff
  border-bottom-style: solid
  border-bottom-width: 1px
  border-bottom-color: #222222

  .cart-moble-image
    width: 100%
  .cart-item-mobile-desc
    text-align: left
    padding: 8px

  .cart-item-mobile-text-column
    height: 120px
